/*styling for body*/
body {
    background-color: black !important;
    color: white !important;
}

.navbar.bg-light {
    background-color: #b9a0e3 !important;
}


/*button styles*/
.btn-primary {
    background-color: #b9a0e3 !important;
    color: #000080 !important;
    border-color: #b9a0e3 !important;
}

.btn-primary:hover {
    color: lightblue !important;
}

.btn-secondary:hover {
    color: lightblue !important;
}

.btn-secondary {
    background-color: #000080 !important;
    color: #b9a0e3 !important;
    border-color: #000080 !important;
}

    /*next and previous buttons*/
    .relative.inline-flex {
        background-color: black !important;
        border-color: black !important;
        color: white !important;
    }
    /*end of next and previous buttons*/
/*end of button styles*/


/*table formatting*/
table {
    border-spacing: 15px 10px; /* 15px for horizontal spacing, 10px for vertical spacing */
    border-collapse: separate; /* Required for border-spacing to work */
}

td, th {
    padding: 10px 20px; /* Add internal space in each cell */
}
/*end of table formatting*/

/*make pagination smaller*/
svg {
    width: 20px;   /* Adjust width as needed */
    height: 20px;  /* Adjust height as needed */
}
/*end of make pagination smaller*/
